#include "resource.h"
#ifdef __MINGW32__
	#define WINVER 0x500
	#include <windows.h>
	#ifndef IDC_STATIC
	#define IDC_STATIC (-1)
#endif
#else
	#define APSTUDIO_READONLY_SYMBOLS
	#include "winres.h"
	#undef APSTUDIO_READONLY_SYMBOLS
#endif
#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU) || defined(__MINGW32__)
#ifdef _WIN32
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)
#endif
#ifdef APSTUDIO_INVOKED

1 TEXTINCLUDE DISCARDABLE
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE DISCARDABLE
BEGIN
    "#include ""winres.h""\r\n"
    "\0"
END

3 TEXTINCLUDE DISCARDABLE
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


IDR_CONTEXTMENU MENU DISCARDABLE
BEGIN
    POPUP "", MENUBREAK
    BEGIN
		MENUITEM "Copy",            ID_MENU_COPY, GRAYED
		MENUITEM "Copy Link",    	ID_MENU_COPYLINK, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Select All",    	ID_MENU_SELECTALL
		MENUITEM SEPARATOR
		MENUITEM "Save Image As...",ID_MENU_SAVEIMAGE, GRAYED
		MENUITEM SEPARATOR
		MENUITEM "Clear Log",    	ID_MENU_CLEARLOG
		MENUITEM "Show source",		ID_MENU_SHOWSOURCE
	END
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_OPTIONS DIALOGEX 0, 0, 310, 245
STYLE DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
	CONTROL         "Tab1",IDC_TABS,"SysTabControl32",
                    TCS_FIXEDWIDTH | 0x8,0,0,310,245
// TCS_BUTTONS |
END

IDD_BASIC_OPTIONS DIALOGEX 5, 20, 300, 210
STYLE DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Message Log Background",IDC_SIMPLE,5,5,288,63
    CONTROL         "Use background image",IDC_BACKGROUND_IMAGE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,19,220,10
 	EDITTEXT        IDC_BACKGROUND_IMAGE_FILENAME,26,34,184,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE_BACKGROUND_IMAGE,212,34,15,11
    CONTROL         "Scroll with text",IDC_SCROLL_BACKGROUND_IMAGE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,26,51,220,10
    GROUPBOX        "External CSS file",IDC_SIMPLE,5,75,288,80
    CONTROL         "Use external CSS file",IDC_EXTERNALCSS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,89,220,10
 	EDITTEXT        IDC_EXTERNALCSS_FILENAME,26,104,184,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE_EXTERNALCSS,212,104,15,11
    LTEXT           "RTL CSS file",IDC_SIMPLE, 26,120,184,12
 	EDITTEXT        IDC_EXTERNALCSS_FILENAME_RTL,26,130,184,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE_EXTERNALCSS_RTL,212,130,15,11
    GROUPBOX        "Other",IDC_SIMPLE,5,163,288,40
    CONTROL         "Enable BBCodes",IDC_ENABLE_BBCODES,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,177,220,10
    LTEXT           "Currently the following BBCodes ae supported: [b][i][u][img][size][color]",IDC_SIMPLE, 14,188,270,12
END

IDD_EMOTICONS_OPTIONS DIALOGEX 5, 20, 300, 220
STYLE DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Animated Smiley Libraries",IDC_SIMPLE,5,5,288,135
    CONTROL         "Enable smiley replacement",IDC_SMILEYS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,19,220,10
    CONTROL         "Specify library for each protocol",IDC_PROTO_SMILEYS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,26,34,120,10
 	EDITTEXT        IDC_SMILEYS_FILENAME,100,55,164,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE_SMILEYS,270,55,15,11
 	LISTBOX         IDC_PROTOLIST,14,55,80,75, LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "", IDC_SMILEYS_PREVIEW,"MButtonClass", WS_TABSTOP,170,90,15,15, 0x18000000L
    GROUPBOX        "Options",IDC_SIMPLE,5,145,288,38
    CONTROL         "Only replace isolated smileys",IDC_ISOLATED_SMILEYS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,160,120,10
    CONTROL         "Surround smileys with spaces",IDC_SURROUND_SMILEYS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,170,120,10
END

IDD_TEMPLATES_OPTIONS DIALOGEX 5, 20, 300, 220
STYLE DS_FIXEDSYS | WS_CHILD
EXSTYLE WS_EX_CONTROLPARENT
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "Use template-based HTML builder",IDC_TEMPLATES,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,5,8,220,10
    GROUPBOX        "Template Library",IDC_SIMPLE,5,24,288,70
 	EDITTEXT        IDC_TEMPLATES_FILENAME,26,42,184,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE_TEMPLATES,212,42,15,11
    LTEXT           "RTL template",IDC_SIMPLE, 26,58,184,12
 	EDITTEXT        IDC_TEMPLATES_FILENAME_RTL,26,68,184,12,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BROWSE_TEMPLATES_RTL,212,68,15,11
    GROUPBOX        "Events To Show",IDC_SIMPLE,5,100,140,110
    CONTROL         "Show file events",IDC_LOG_SHOW_FILE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,115,120,10
    CONTROL         "Show url events",IDC_LOG_SHOW_URL,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,125,120,10
    CONTROL         "Show status changes",IDC_LOG_SHOW_STATUSCHANGE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,14,135,120,10
    GROUPBOX        "Log Options",IDC_SIMPLE,153,100,140,110
    CONTROL         "Show nicknames",IDC_LOG_SHOW_NICKNAMES,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,162,115,120,10
    CONTROL         "Show time",IDC_LOG_SHOW_TIME,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,162,125,120,10
    CONTROL         "Show seconds",IDC_LOG_SHOW_SECONDS,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,177,135,110,10
    CONTROL         "Show date",IDC_LOG_SHOW_DATE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,162,145,120,10
    CONTROL         "Use long date format",IDC_LOG_LONG_DATE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,176,155,110,10
    CONTROL         "Use relative timestamp", IDC_LOG_RELATIVE_DATE,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,176,165,110,10
    CONTROL         "Use message grouping", IDC_LOG_GROUP_MESSAGES,"Button",BS_AUTOCHECKBOX |
                    WS_TABSTOP,162,175,120,10
END

IDD_SMILEYSELECTION DIALOGEX 10, 10, 234, 150
STYLE DS_SETFONT | DS_SETFOREGROUND | DS_3DLOOK | DS_FIXEDSYS | WS_POPUP | WS_BORDER | WS_SYSMENU | NOT WS_VISIBLE
EXSTYLE WS_EX_TOPMOST | WS_EX_TOOLWINDOW
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN

END

#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,3,0
 PRODUCTVERSION 1,0,3,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041504e3"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "http://developer.berlios.de/projects/mgoodies\0"
            VALUE "FileDescription", "IEView Plugin for Miranda IM\0"
            VALUE "FileVersion", "1.0.3.0\0"
            VALUE "InternalName", "ieview\0"
            VALUE "LegalCopyright", "Copyright (c) 2005 Piotr Piastucki\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "ieview.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "IEView Plugin\0"
            VALUE "ProductVersion", "1.0.3.0\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x415, 1251
    END
END

#endif    // !_MAC


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_SMILEY                ICON    DISCARDABLE     "icos\\smile.ico"
#endif    // English (U.S.) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

