af_ZA	ICON	".\\Flags\\af_ZA.ico"
bg_BG	ICON	".\\Flags\\bg_BG.ico"
cs_CZ	ICON	".\\Flags\\cs_CZ.ico"
cy_GB	ICON	".\\Flags\\cy_GB.ico"
da_DK	ICON	".\\Flags\\da_DK.ico"
de_AT	ICON	".\\Flags\\de_AT.ico"
de_CH	ICON	".\\Flags\\de_CH.ico"
el_GR	ICON	".\\Flags\\el_GR.ico"
en_AU	ICON	".\\Flags\\en_AU.ico"
en_CA	ICON	".\\Flags\\en_CA.ico"
en_GB	ICON	".\\Flags\\en_GB.ico"
en_NZ	ICON	".\\Flags\\en_NZ.ico"
en_US	ICON	".\\Flags\\en_US.ico"
en_ZA	ICON	".\\Flags\\en_ZA.ico"
es_ES	ICON	".\\Flags\\es_ES.ico"
es_MX	ICON	".\\Flags\\es_MX.ico"
et_EE	ICON	".\\Flags\\et_EE.ico"
fi_FI	ICON	".\\Flags\\fi_FI.ico"
fj_FJ	ICON	".\\Flags\\fj_FJ.ico"
fo_FO	ICON	".\\Flags\\fo_FO.ico"
fr_BE	ICON	".\\Flags\\fr_BE.ico"
fr_FR	ICON	".\\Flags\\fr_FR.ico"
ga_IE	ICON	".\\Flags\\ga_IE.ico"
gd_GB	ICON	".\\Flags\\gd_GB.ico"
he_IL	ICON	".\\Flags\\he_IL.ico"
hr_HR	ICON	".\\Flags\\hr_HR.ico"
hu_HU	ICON	".\\Flags\\hu_HU.ico"
id_ID	ICON	".\\Flags\\id_ID.ico"
is_IS	ICON	".\\Flags\\is_IS.ico"
it_IT	ICON	".\\Flags\\it_IT.ico"
km_KH	ICON	".\\Flags\\km_KH.ico"
ku_TR	ICON	".\\Flags\\ku_TR.ico"
lt_LT	ICON	".\\Flags\\lt_LT.ico"
lv_LV	ICON	".\\Flags\\lv_LV.ico"
mg_MG	ICON	".\\Flags\\mg_MG.ico"
mi_NZ	ICON	".\\Flags\\mi_NZ.ico"
mo_BF	ICON	".\\Flags\\mo_BF.ico"
mr_IN	ICON	".\\Flags\\mr_IN.ico"
ms_MY	ICON	".\\Flags\\ms_MY.ico"
nb_NO	ICON	".\\Flags\\nb_NO.ico"
ne_NP	ICON	".\\Flags\\ne_NP.ico"
nl_NL	ICON	".\\Flags\\nl_NL.ico"
nn_NO	ICON	".\\Flags\\nn_NO.ico"
ns_ZA	ICON	".\\Flags\\ns_ZA.ico"
ny_MW	ICON	".\\Flags\\ny_MW.ico"
pl_PL	ICON	".\\Flags\\pl_PL.ico"
pt_BR	ICON	".\\Flags\\pt_BR.ico"
pt_PT	ICON	".\\Flags\\pt_PT.ico"
ro_BO	ICON	".\\Flags\\ro_BO.ico"
ru_RU	ICON	".\\Flags\\ru_RU.ico"
rw_RW	ICON	".\\Flags\\rw_RW.ico"
sk_SK	ICON	".\\Flags\\sk_SK.ico"
sl_SI	ICON	".\\Flags\\sl_SI.ico"
sr_CS	ICON	".\\Flags\\sr_CS.ico"
ss_ZA	ICON	".\\Flags\\ss_ZA.ico"
st_ZA	ICON	".\\Flags\\st_ZA.ico"
sv_SE	ICON	".\\Flags\\sv_SE.ico"
tl_PH	ICON	".\\Flags\\tl_PH.ico"
tn_ZA	ICON	".\\Flags\\tn_ZA.ico"
uk_UA	ICON	".\\Flags\\uk_UA.ico"
xh_ZA	ICON	".\\Flags\\xh_ZA.ico"