#ifndef APSTUDIO_INVOKED

#include "..\src\version.h"

#ifndef _MAC
/////////////////////////////////////////////////////////////////////////////
//
// Version
//
#define STRINGIZE(x) #x

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,0,0,__BUILD_NUM
 PRODUCTVERSION 0,0,0,__BUILD_NUM
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "Miranda IM community\0"
            VALUE "FileDescription", __DESCRIPTION
            VALUE "FileVersion", "0, 0, 0, "STRINGIZE(__BUILD_NUM)
            VALUE "InternalName", __PLUGIN_NAME
            VALUE "LegalCopyright", __COPYRIGHT
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", __FILENAME
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", __PLUGIN_NAME
            VALUE "ProductVersion", "0, 0, 0, "STRINGIZE(__BUILD_NUM)
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END

#endif    // !_MAC
#endif
